<center> Hello <%=name%>.</center><br>
<center>I have a number between 1 and 100.</center><br>
<center>Do you think you can guess what it is in 10 tries?</center>
<br><br><br>

<center>

<center><img src="/img/10.jpg"; 
style="height:15rem; width:25rem;"/></center>

   


<center><strong>Your last guess was: <%=guess%> <%=results%></strong></center><br>
<center>You have <%=rounds%> guesses left
Enter your guess</center>
<center>
<form method = "post" action ="/guess">
    <input type ="number" name = "guess" autofocus>
    <input type = "text" name = "user_name" value = <%=name%> hidden>
    <input type = "submit">
</form> </center>